/* Шрифты */
@font-face {
  font-family: 'HelveticaNeueCyr_black';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr_bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr_roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeueCyr_medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Qanelas_medium';
  src: url('../fonts/Qanelas-Medium.eot');
  src: local('../fonts/Qanelas Medium'), local('Qanelas-Medium'), url('../fonts/Qanelas-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Medium.woff2') format('woff2'), url('../fonts/Qanelas-Medium.woff') format('woff'), url('../fonts/Qanelas-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* Цвета */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
}
button,
input,
a,
textarea {
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}
/* Настройки элементов */
.button {
  display: block;
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px rgba(87, 143, 34, 0.004);
  background-color: #95c62c;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 35px;
}
.button:hover {
  background-color: #769c23;
}
/* Header  */
.main {
  color: #fff;
}
/* Информационное меню */
.main-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
}
.main-header_title {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  margin-left: 15px;
  font-size: 20px;
}
.main-header_phone a {
  display: block;
  text-align: right;
  text-decoration: none;
}
.main-header_btn {
  margin: 10px 0 35px;
}
.header-phone {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 20px;
  color: #fff;
}
.header-phone:hover {
  color: #cccccc;
}
.header-call {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 15px;
  color: #95c62c;
}
.header-call:hover {
  color: #769c23;
}
/* Контент меню */
.main-content_title-info h1 {
  margin-top: 80px;
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 30px;
}
.main-content_title-info p {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 23px;
}
.main-content_title-info img {
  width: 300px;
  margin-bottom: 30px;
}
.main-content_title-rex img {
  width: 400px;
  margin-top: 30%;
}
/* Блок с комплектаций */
.equipment {
  background-color: #f8f8f0;
  color: #000;
}
.equipment-title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
  margin-top: 100px;
}
.equipment-title h2 span {
  font-size: 26px;
}
.equipment-title p {
  max-width: 600px;
  margin-bottom: 25px;
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
  margin-top: 35px;
}
.equipment-title_box {
  display: none;
}
.equipment-blocks {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
.equipment-blocks p {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 20px;
}
.equipment-blocks p span {
  display: inline-block;
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 25px;
  color: #b61919;
}
.equipment-blocks span {
  display: block;
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
}
.equipment-blocks strong {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
}
.equipment-blocks_price {
  display: inline-block;
}
.equipment-blocks_indent {
  margin-top: 25px;
}
.equipment-btn {
  border-bottom: 4px solid #76ae0c;
  margin: 20px 0 50px;
}
.equipment-box {
  position: relative;
}
.equipment-box img {
  position: absolute;
  margin-top: 100px;
  left: -60px;
}
.equipment-box p {
  position: absolute;
  font-family: 'Qanelas_medium', sans-serif;
  font-size: 25px;
  margin-top: 93%;
  margin-left: 50%;
}
.equipment-box span {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  position: absolute;
  font-size: 17px;
  max-width: 200px;
  margin-top: 100%;
  margin-left: 45%;
  line-height: 1.2;
  text-align: right;
}
/* Блок с возможностями */
.opportunities {
  background-color: #fcfcf6;
  color: #000;
}
.opportunities-block {
  margin: 90px 60px;
  /* Про фильмы */
  /* Про путешествия */
}
.opportunities-block_films img {
  display: block;
  margin: auto;
}
.opportunities-block_films-info {
  margin: 90px 0 0 60px;
}
.opportunities-block_films-info span {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  display: block;
  position: relative;
  padding-left: 55px;
  list-style: none;
  font-size: 21px;
}
.opportunities-block_films-info span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  height: 43px;
  margin: 0;
  padding: 0;
  background: url(../img/opportunities/travel-2.png) no-repeat center;
}
.opportunities-block_films-info p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  margin: 15px 0 0 55px;
  font-size: 17px;
  max-width: 360px;
}
.opportunities-block_travel {
  position: relative;
}
.opportunities-block_travel-info {
  margin-top: 60px;
}
.opportunities-block_travel-info span {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  display: block;
  position: relative;
  padding-left: 55px;
  list-style: none;
  font-size: 21px;
}
.opportunities-block_travel-info span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  height: 43px;
  margin: 0;
  padding: 0;
  background: url(../img/opportunities/films-2.png) no-repeat center;
}
.opportunities-block_travel-info p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  margin: 15px 0 0 55px;
  font-size: 17px;
  max-width: 380px;
}
.opportunities-block_travel-cube {
  position: absolute;
  right: 0;
  top: 25%;
}
.opportunities-block_travel-img {
  margin: 100px 0 0 0px;
}
.opportunities-block_films-flip {
  display: none;
}
.opportunities-block_travel-flip {
  display: none;
}
/* Блок заказать */
.delivery {
  color: #fff;
}
.delivery-block {
  margin: 40px 0;
  /* Информация */
}
.delivery-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.delivery-block_title-arrow {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 18px;
  position: relative;
  background-color: #18a7d0;
  padding: 5px 10px 5px 15px;
  margin: 20px 0 35px;
  max-width: 480px;
}
.delivery-block_title-arrow::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  top: 0;
  border-left: 30px solid #18a7d0;
  left: auto;
  right: -30px;
}
.delivery-block_title span {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 18px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding-left: 45px;
  margin-right: 20px;
  max-width: 237px;
  list-style: none;
}
.delivery-block_title-watch::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 40px;
  background: url(../img/delivery/watch.png) no-repeat center;
  background-size: cover;
}
.delivery-block_title-bag::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 40px;
  background: url(../img/delivery/bag.png) no-repeat center;
  background-size: cover;
}
/* Форма */
.delivery .delivery-block form {
  display: block;
  background: #000;
  text-align: center;
  border: 4px solid #18a7d0;
  border-radius: 4px;
  padding: 25px 55px;
}
.delivery .delivery-block form h3 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin: 5px 0 30px;
}
.delivery .delivery-block form input {
  background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px 30px;
}
.delivery .delivery-block form input::-webkit-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.delivery .delivery-block form input:-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.delivery .delivery-block form input::-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.delivery .delivery-block form input::placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.delivery .delivery-block form .form-btn {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 16px;
  display: block;
  margin: 0 auto 10px;
}
.delivery .delivery-block form small {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
.delivery-block_title-flip {
  display: none;
}
/* Блок с возможностями 2 */
.opportunitiesTwo {
  background-color: #fcfcf6;
  color: #000;
}
.opportunitiesTwo-block {
  margin: 60px 60px;
  /* Про спорт */
  /* Про игры */
}
.opportunitiesTwo-block_sport img {
  display: block;
  margin: auto;
}
.opportunitiesTwo-block_sport-info {
  margin: 110px 0 0 60px;
}
.opportunitiesTwo-block_sport-info span {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  display: block;
  position: relative;
  padding-left: 55px;
  list-style: none;
  line-height: 1.2;
  font-size: 21px;
}
.opportunitiesTwo-block_sport-info span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  height: 43px;
  margin: 0;
  padding: 0;
  background: url(../img/games/gamepad.png) no-repeat center;
}
.opportunitiesTwo-block_sport-info p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  margin: 15px 0 0 55px;
  font-size: 17px;
  max-width: 360px;
}
.opportunitiesTwo-block_game {
  position: relative;
}
.opportunitiesTwo-block_game-info {
  margin-top: 60px;
}
.opportunitiesTwo-block_game-info span {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  display: block;
  position: relative;
  padding-left: 55px;
  max-width: 380px;
  list-style: none;
  line-height: 1.2;
  font-size: 21px;
}
.opportunitiesTwo-block_game-info span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  height: 43px;
  margin: 0;
  padding: 0;
  background: url(../img/games/ball.png) no-repeat center;
}
.opportunitiesTwo-block_game-info p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  margin: 15px 0 0 55px;
  font-size: 17px;
  max-width: 380px;
}
.opportunitiesTwo-block_game img {
  margin: 100px 0 0 60px;
}
/* Блок с работой */
.works {
  background-color: #fcfcf6;
}
.works-block {
  text-align: center;
  margin: 90px 0 110px;
}
.works-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.works-block_title span {
  border-top: 5px solid #18a7d0;
  padding: 0 25px 0;
}
.works-block_img {
  line-height: 200px;
}
.works-block_img img {
  vertical-align: bottom;
}
.works-block p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
  margin-top: 20px;
}
.clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  background: #f8f8f0;
}
/* Блок с совместимостью */
.interoperability {
  position: relative;
  background-color: #fcfcf6;
}
.interoperability-block {
  margin-bottom: 70px;
}
.interoperability-block_on {
  display: none;
}
.interoperability-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
  margin-bottom: 70px;
}
.interoperability-block_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.interoperability-block_phone p {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
}
.interoperability-block_phone-iphone {
  text-align: center;
}
.interoperability-block_phone-htc {
  text-align: center;
  margin-left: 30px;
}
.interoperability-block_phone-win {
  text-align: center;
  margin-left: 30px;
}
.interoperability-block_box img {
  width: 510px;
}
.interoperability-block_box p {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  line-height: 1.2;
}
.interoperability-cube {
  position: absolute;
  top: -120px;
  right: 0px;
}
/* Блок с видео */
.video {
  color: #fff;
}
.video-block {
  margin: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.video-block_title {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
.video-block_button button {
  display: block;
  background-color: transparent;
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 20px 18px 20px 24px;
}
.video-block_button button img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.video-block_button button:active img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}
.video-block_text p {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin-top: 10px;
}
/* Блок с приложениями */
.apps {
  background: #fcfcf6;
}
.apps-block {
  margin: 90px 0;
}
.apps-block_title {
  text-align: center;
}
.apps-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.apps-block_title span {
  border-top: 5px solid #18a7d0;
  padding: 0 25px 0;
}
.apps-block_title img {
  display: block;
  margin: 0 auto;
}
.apps-block_content-img {
  position: relative;
  line-height: 200px;
  min-height: 220px;
  margin-left: -60px;
}
.apps-block_content-img img {
  vertical-align: bottom;
}
.apps-block_content-img-sis {
  margin-left: -40px;
}
.apps-block_content h4 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
}
.apps-block_content p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
  margin-bottom: 40px;
}
.apps-block_btn {
  margin: auto;
  font-size: 18px;
}
.apps-img_zombie {
  margin-top: 70px;
}
/* Блок с отзывами */
.feedback {
  background: #f8f8f0;
  overflow: hidden;
}
.feedback-block {
  margin: 90px 0;
  position: relative;
}
.feedback-block_title {
  text-align: center;
}
.feedback-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.feedback-block_title span {
  display: inline-block;
  border-top: 5px solid #18a7d0;
  padding: 0 25px 0;
  margin-bottom: 60px;
}
.feedback-media {
  display: inline-block;
  max-width: 49%;
  background-color: #fff;
  border: 1px solid #3eb7b7;
  border-radius: 3px;
  margin-bottom: 5px;
}
.feedback-media_left {
  display: inline-block;
  padding: 25px;
}
.feedback-media_body {
  position: relative;
  display: inline-block;
}
.feedback-media_body h4 {
  position: absolute;
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 18px;
  width: 210px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.feedback-media p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0 25px 50px;
}
.feedback-media_center {
  margin-left: 10px;
}
.feedback-media_cube {
  position: absolute;
  width: 130px;
  right: -5%;
  top: 8%;
}
/* Блок как мы работаем */
.OurWorks {
  background-color: #fcfcf6;
  position: relative;
}
.OurWorks-block {
  margin: 90px 0;
  text-align: center;
}
.OurWorks-block_title h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.OurWorks-block_title span {
  display: inline-block;
  border-top: 5px solid #18a7d0;
  padding: 0 25px 0;
  margin-bottom: 60px;
}
.OurWorks-block_content-img {
  line-height: 150px;
}
.OurWorks-block_content-img img {
  vertical-align: bottom;
}
.OurWorks-block_content p {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 17px;
  margin-top: 20px;
}
.OurWorks-block_content p span {
  display: none;
}
.OurWorks-cube {
  position: absolute;
  bottom: -50px;
  left: 0;
}
/* Блок заказать (снизу) */
.delivery-block_title-flip {
  display: none;
}
/* Блок со связью */
.link-block {
  margin: 60px 0;
  text-align: center;
  max-height: 70px;
}
.link-block h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 35px;
}
.link-block button {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 18px;
  border: none;
  border-bottom-style: dashed;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.link-block button:active {
  border: none;
}
/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0 10px;
}
.footer-header {
  width: 100%;
}
.footer-header_title {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  margin-left: 15px;
  font-size: 20px;
}
.footer-header_phone a {
  display: block;
  text-align: right;
  text-decoration: none;
}
.footer-header_btn {
  margin: 10px 0 35px;
}
.header-phone {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 20px;
  color: #fff;
}
.header-phone:hover {
  color: #cccccc;
}
.header-call {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 15px;
  color: #95c62c;
}
.header-call:hover {
  color: #769c23;
}
.footer-header_phone .header-call-on {
  display: none;
}
/* Модальные окна */
.popup {
  width: 100%;
}
/* Видео */
.popup-video {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-video_content {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.popup-video_content iframe {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  height: 60%;
  border: none;
}
.popup-video_close {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 31%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -17%;
  width: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: none;
}
/* Заказать звонок */
.popup-call {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.popup-call_content {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.popup-call_content form {
  display: block;
  background: #000;
  text-align: center;
  border: 4px solid #18a7d0;
  border-radius: 4px;
  padding: 25px 55px;
  max-width: 390px;
}
.popup-call_content form h3 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin: 5px 0 30px;
}
.popup-call_content form input {
  background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 17px 38px;
}
.popup-call_content form input::-webkit-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-call_content form input:-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-call_content form input::-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-call_content form input::placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-call_content form button {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 auto 10px;
}
.popup-call_content form small {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
.popup-call_close {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 30px;
  height: 30px;
  background-color: #131313;
  border: 4px solid #18a7d0;
  border-radius: 50%;
}
.popup-call_close:hover::before,
.popup-call_close:hover::after {
  background: #148aab;
}
.popup-call_close::before,
.popup-call_close::after {
  content: '';
  position: absolute;
  top: 4.5px;
  right: 8.5px;
  height: 13px;
  width: 4px;
  background: #18a7d0;
}
.popup-call_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-call_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* Заказать VR BOX */
.popup-box {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.popup-box_content {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.popup-box_content form {
  display: block;
  background: #000;
  text-align: center;
  border: 4px solid #18a7d0;
  border-radius: 4px;
  padding: 25px 55px;
  max-width: 380px;
}
.popup-box_content form h3 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin: 5px 0 30px;
}
.popup-box_content form input {
  background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 17px 38px;
}
.popup-box_content form input::-webkit-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-box_content form input:-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-box_content form input::-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-box_content form input::placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-box_content form button {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 auto 10px;
}
.popup-box_content form small {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
.popup-box_close {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 30px;
  height: 30px;
  background-color: #131313;
  border: 4px solid #18a7d0;
  border-radius: 50%;
}
.popup-box_close:hover::before,
.popup-box_close:hover::after {
  background: #148aab;
}
.popup-box_close::before,
.popup-box_close::after {
  content: '';
  position: absolute;
  top: 4.5px;
  right: 8.5px;
  height: 13px;
  width: 4px;
  background: #18a7d0;
}
.popup-box_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-box_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* Задать вопросы */
.popup-link {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.popup-link_content {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.popup-link_content form {
  display: block;
  background: #000;
  text-align: center;
  border: 4px solid #18a7d0;
  border-radius: 4px;
  padding: 25px 55px;
  max-width: 380px;
}
.popup-link_content form h3 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin: 0 0 20px;
}
.popup-link_content form input {
  background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 17px 37px;
}
.popup-link_content form input::-webkit-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-link_content form input:-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-link_content form input::-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-link_content form input::placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-link_content form button {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 auto 10px;
}
.popup-link_content form small {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
.popup-link_close {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 30px;
  height: 30px;
  background-color: #131313;
  border: 4px solid #18a7d0;
  border-radius: 50%;
}
.popup-link_close:hover::before,
.popup-link_close:hover::after {
  background: #148aab;
}
.popup-link_close::before,
.popup-link_close::after {
  content: '';
  position: absolute;
  top: 4.5px;
  right: 8.6px;
  height: 13px;
  width: 4px;
  background: #18a7d0;
}
.popup-link_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-link_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* Выбрать комплектацию */
.popup-equipment {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.popup-equipment_content {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.popup-equipment_content form {
  display: block;
  background: #000;
  text-align: center;
  border: 4px solid #18a7d0;
  border-radius: 4px;
  padding: 25px 55px;
  max-width: 380px;
}
.popup-equipment_content form h3 {
  font-family: 'HelveticaNeueCyr_medium', sans-serif;
  font-size: 22px;
  margin: 0 0 20px;
}
.popup-equipment_content form input {
  background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 248px;
  padding: 17px 10px 17px 25px;
  text-align: left;
}
.popup-equipment_content form input::-webkit-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-equipment_content form input:-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-equipment_content form input::-ms-input-placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-equipment_content form input::placeholder {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  color: #fff;
}
.popup-equipment_content form button {
  font-family: 'HelveticaNeueCyr_bold', sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 auto 10px;
}
.popup-equipment_content form .select {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.popup-equipment_content form .select select {
  position: relative;
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 18px;
  background-color: #000;
  padding: 17px 28px 17px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-appearance: ;
     -moz-appearance: ;
          appearance: ;
  outline: none;
  z-index: 0;
}
.popup-equipment_content form small {
  font-family: 'HelveticaNeueCyr_roman', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
.popup-equipment_close {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 30px;
  height: 30px;
  background-color: #131313;
  border: 4px solid #18a7d0;
  border-radius: 50%;
}
.popup-equipment_close:hover::before,
.popup-equipment_close:hover::after {
  background: #148aab;
}
.popup-equipment_close::before,
.popup-equipment_close::after {
  content: '';
  position: absolute;
  top: 4.5px;
  right: 8.5px;
  height: 13px;
  width: 4px;
  background: #18a7d0;
}
.popup-equipment_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-equipment_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*      .select {
      	 margin-bottom: 5px;
        position: relative;
        display: inline-block;
        cursor: default;
        text-align: left;
        clear: both;
        color: #fff;
        span {
        	padding: 15px 20px 39px 0;
        	background: transparent;
        }
        &-ed {
        	 .roman();
        	 font-size: 18px;
          padding: 0 0 0 0 ;
          width: 220px;
          text-indent: 20px;
          border: 2px solid #fff;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-right: none;
          background: #000;
          overflow: hidden;
        }
        &-btn {
        	 display: block;
        	 width: 30px;
        	 height: 30px;
        	 background-color: #000;
        	 border: 2px solid rgb(255, 255, 255);
        	 border-left: none;
        	 border-top-right-radius: 5px;
        	 border-bottom-right-radius: 5px;
        }
        &-arrow,
        &-arrow::before,
        &-arrow::after {
        	position: absolute;
        	display: block;
        	margin-top: 3px;
        	left: 30%;
        	margin-left: -10px;
        	width: 12px;
        	height: 3px;
        	background-color: #fff;
        }*/
/*        &-arrow {
        	height: 0;
        }
        &-arrow::before,
        &-arrow::after {
        	content: '';
        	position: absolute;
        	display: block;
        	z-index: 1;
        	transition: 0.5s;
        }
        &-arrow::before {
        	transform: rotate(-50deg);
        	transform-origin: right center;
        	margin-left: -8px;
        	border-radius: 5px;
        }
        &-arrow::after {
        	transform: rotate(50deg);
        	transform-origin: left center;
        	border-radius: 5px;
        }*/
/*        &-arrow_active::before {
        	left: 0;
        }
        &-arrow_active::after {
        	left: 12px;
        }*/
/*        .select-ed, .select-btn {
        	position: relative;
        	float: left;
        	height: 58px;
        }
        &-options {
        	position: absolute;
        	top: 55px;
        	left:0;
        	width: 250px;
        	border: 2px solid #fff;
        	border-bottom-right-radius:5px;
        	border-bottom-left-radius:5px;
        	overflow: hidden;
        	background: #000;
        	padding-top: 2px;
        	display: none;        
        	p {
        		padding: 7px 0 7px 20px;
        		margin: 0;
        	}
        }
        &-option {
        	.roman();
        	font-size: 18px;
        	display: block;
        	width: 100%;
        	line-height: 20px;
        	padding: 5px 10%;
        }
        &-option:hover {
        	color: #f6f6f6;
        	background: @colors_arrow;
        }
      }*/
/* Медиа запросы */
@media (max-width: 1199px) {
  /* Header */
  /* Информационное меню */
  .main {
    /* Контент меню */
  }
  .main-header_title h5 {
    margin-left: 20px;
  }
  .main-content_title-info h1 {
    width: 560px;
  }
  /* Блок с комплектацией */
  .equipment-blocks {
    margin: 0;
  }
  .equipment-blocks p {
    font-size: 18px;
  }
  .equipment-blocks p span {
    font-size: 20px;
  }
  .equipment-blocks span {
    font-size: 15px;
  }
  .equipment-blocks strong {
    font-size: 15px;
  }
  .equipment-blocks_indent {
    margin-right: 39px;
    margin-top: 23px;
  }
  .equipment-box img {
    width: 380px;
    left: 0px;
  }
  .equipment-box p {
    margin: 0;
    top: 320px;
    left: 45%;
  }
  .equipment-box span {
    margin: 0;
    top: 350px;
    left: 40%;
  }
  /* Блок с возможностями */
  .opportunities {
    overflow: hidden;
  }
  .opportunities-block_films-info {
    margin-left: 0;
    width: 500px;
  }
  .opportunities-block_travel-info {
    width: 500px;
  }
  .opportunities-block_travel-cube {
    right: -20%;
  }
  /* Блок с возможностями 2 */
  .opportunitiesTwo-block {
    margin: 60px 0;
  }
  .opportunitiesTwo-block_game img {
    margin: 100px 0 0 0;
  }
  /* Блок с совместимстью */
  .interoperability-block_box img {
    width: 100%;
  }
  /* Блок с отзывами */
  .feedback {
    position: relative;
    overflow: hidden;
  }
  /* Footer */
  .footer-header_title h5 {
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  /* Header */
  /* Инфорамционное меню */
  .main {
    /* Контент меню */
  }
  .main-header_title h5 {
    margin-left: 40px;
  }
  .main-content_title-rex {
    position: absolute;
    right: 0;
  }
  .main-content_title-rex img {
    margin-top: 45%;
    width: 360px;
  }
  /* Блок с комплектацией */
  .equipment {
    position: relative;
  }
  .equipment-blocks {
    margin: 0;
  }
  .equipment-blocks p {
    font-size: 20px;
  }
  .equipment-blocks p span {
    font-size: 25px;
  }
  .equipment-blocks span {
    font-size: 17px;
  }
  .equipment-blocks strong {
    font-size: 16px;
  }
  .equipment-blocks_indent {
    margin-right: 39px;
    margin-top: 23px;
  }
  .equipment-blocks_special {
    position: absolute;
    width: 290px;
  }
  .equipment-box img {
    width: 370px;
  }
  /* Блок с возможностями */
  .opportunities-block {
    margin: 90px 0;
  }
  .opportunities-block_films img {
    width: 300px;
  }
  .opportunities-block_films-info li {
    font-size: 20px;
  }
  .opportunities-block_films-info p {
    font-size: 15px;
  }
  .opportunities-block_travel img {
    width: 300px;
    margin-left: 60px;
  }
  .opportunities-block_travel-info {
    max-width: 360px;
  }
  .opportunities-block_travel-info li {
    font-size: 20px;
  }
  .opportunities-block_travel-info p {
    font-size: 15px;
  }
  .opportunities-block_travel-cube {
    display: none;
  }
  /* Блок заказать */
  .delivery-block .delivery-block_title-flip {
    display: block;
  }
  .delivery-block_title-special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .delivery-block_title li {
    margin: 20px 0 0 20px;
    font-size: 16px;
  }
  .delivery-block_title-on {
    display: none;
  }
  .delivery .delivery-block form {
    padding: 25px 25px;
  }
  .delivery .delivery-block form input {
    width: 340px;
    padding: 15px 20px 15px 20px;
  }
  .delivery .delivery-block form button {
    width: 340px;
  }
  /* Блок с возможностями 2 */
  .opportunitiesTwo-block_sport img {
    width: 350px;
  }
  .opportunitiesTwo-block_game img {
    width: 350px;
  }
  /* Блок с работой девайса */
  .clip {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background: #f8f8f0;
  }
  /* Блок с совместимстью */
  .interoperability-block_phone img {
    width: 100px;
  }
  .interoperability-block_phone-htc {
    margin-top: 3px;
  }
  .interoperability-block_phone-win {
    margin-top: 13px;
  }
  .interoperability-block_box {
    position: relative;
    right: -10px;
  }
  .interoperability-block_box img {
    width: 100%;
  }
  .interoperability-cube {
    width: 50px;
    top: -80px;
  }
  /* Модальное окно (видео) */
  .popup-video_content iframe {
    top: 40%;
    width: 70%;
    height: 70%;
  }
  .popup-video_close {
    margin-top: -5%;
    margin-left: 36%;
  }
  /* Блок с приложениями */
  .apps-block_content-img {
    margin-left: -45px;
  }
  .apps-block_content-img img {
    width: 100%;
  }
  .apps-block_content-img-sis {
    margin-left: -20px;
  }
  .apps-block_content-img .apps-img_zombie {
    width: 280px;
    margin-top: 103px;
  }
  /* Блок с отзывами */
  .feedback-media_left {
    padding: 20px;
  }
  .feedback-media_body h4 {
    font-size: 16px;
    width: 175px;
  }
  .feedback-media_cube {
    display: none;
  }
  /* Footer */
  .footer-header_title h5 {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  /* Header */
  /* Инфорамционное меню */
  .main {
    overflow: hidden;
    background: url(../img/main/main-bg.jpg) no-repeat top center;
    background-size: cover;
    /* Контент меню */
  }
  .main-header {
    text-align: center;
  }
  .main-header_logo img {
    width: 65px;
    margin-top: 4px;
  }
  .main-header_title h5 {
    font-size: 12px;
    margin-left: 30px;
    padding: 0;
  }
  .main-header_phone {
    margin-right: 23px;
  }
  .main-header_phone a {
    display: inline-block;
  }
  .main .header-phone {
    margin-bottom: 0;
  }
  .main-content_title-info {
    overflow: hidden;
  }
  .main-content_title-info br {
    display: none;
  }
  .main-content_title-info h1 {
    margin-top: 40px;
    font-size: 16px;
    width: 100%;
  }
  .main-content_title-info p {
    font-size: 17px;
  }
  .main-content_title-box img {
    width: 240px;
  }
  .main-content_title-rex {
    bottom: 20px;
    margin: 0;
    padding: 0;
  }
  .main-content_title-rex img {
    width: 270px;
  }
  .header-phone {
    font-size: 17px;
  }
  .header-call {
    font-size: 14px;
    padding: 5px;
  }
  /* Блок с комплектацией */
  .equipment-title h2 {
    font-size: 22px;
    margin-top: 40px;
  }
  .equipment-title h2 span {
    font-size: 16px;
  }
  .equipment-title p {
    font-size: 14px;
    margin-top: 0;
  }
  .equipment-title_box {
    position: relative;
    display: block;
  }
  .equipment-title_box img {
    width: 100%;
  }
  .equipment-title_box p {
    position: absolute;
    font-family: 'Qanelas_medium', sans-serif;
    font-size: 16px;
    right: 40px;
    top: 85%;
  }
  .equipment-title_box span {
    font-family: 'HelveticaNeueCyr_roman', sans-serif;
    position: absolute;
    font-size: 11px;
    line-height: 1.2;
    right: 30px;
    top: 93%;
    width: 120px;
  }
  .equipment-blocks p {
    font-size: 17px;
  }
  .equipment-blocks p span {
    font-size: 21px;
  }
  .equipment-blocks span {
    font-size: 14px;
  }
  .equipment-blocks strong {
    font-size: 14px;
  }
  .equipment-blocks_special {
    position: relative;
  }
  .equipment-blocks_indent {
    margin-top: 23px;
  }
  .equipment-box {
    display: none;
  }
  .equipment-btn {
    font-size: 13px;
    margin: 20px auto 40px;
  }
  /* Блок с возможностями */
  .opportunities-block_travel-on {
    display: none;
  }
  .opportunities-block_films-on {
    display: none;
  }
  .opportunities-block_travel-flip {
    display: block;
  }
  .opportunities-block_films-flip {
    display: block;
  }
  .opportunities-block {
    width: 100%;
    margin: 40px auto;
  }
  .opportunities-block_films {
    margin-left: 5%;
  }
  .opportunities-block_films img {
    width: 80%;
    margin: 0 35px;
  }
  .opportunities-block_films-info {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }
  .opportunities-block_films-info li {
    max-width: 100%;
    font-size: 18px;
    padding-left: 35px;
  }
  .opportunities-block_films-info li::before {
    width: 25px;
    height: 27px;
    background: url(../img/opportunities/films-2.png) no-repeat;
    background-size: cover;
  }
  .opportunities-block_films-info p {
    max-width: 100%;
    font-size: 16px;
    margin: 0 20px 0 35px;
  }
  .opportunities-block_travel {
    margin-left: 5%;
  }
  .opportunities-block_travel img {
    width: 80%;
    margin: 0 35px;
  }
  .opportunities-block_travel-info {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .opportunities-block_travel-info li {
    max-width: 100%;
    font-size: 18px;
    padding-left: 35px;
  }
  .opportunities-block_travel-info li::before {
    width: 25px;
    height: 25px;
    background: url(../img/opportunities/travel-2.png) no-repeat;
    background-size: cover;
  }
  .opportunities-block_travel-info p {
    max-width: 100%;
    font-size: 16px;
    margin: 0 15px 0 35px;
  }
  .opportunities-block_travel-cube {
    display: none;
  }
  /* Блок заказать */
  .delivery-block_title li {
    font-size: 14px;
    margin: 20px auto;
  }
  .delivery-block_title-arrow {
    padding: 8px 20px;
    font-size: 14px;
    height: 60px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 30px;
  }
  /* Блок с возможностями 2 */
  .opportunitiesTwo {
    display: none;
  }
  /* Блок с работой девайса */
  .works {
    overflow: hidden;
  }
  .works-block {
    margin: 40px 0;
  }
  .works-block_title h2 {
    font-size: 22px;
  }
  .works-block_img {
    line-height: 130px;
  }
  .works-block_img .works-img1 {
    width: 100px;
  }
  .works-block_img .works-img2 {
    position: relative;
    right: 10px;
    width: 150px;
  }
  .works-block_img .works-img3 {
    width: 130px;
  }
  .works-block_img .works-img4 {
    width: 90px;
  }
  .works-blocks p {
    font-size: 12px;
  }
  .clip {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    background: #f8f8f0;
  }
  /* Блок с совместимостью */
  .interoperability-cube {
    display: none;
  }
  .interoperability-block {
    margin-bottom: 40px;
  }
  .interoperability-block_title h2 {
    text-align: center;
    margin: 20px 0 50px;
  }
  .interoperability-block_phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interoperability-block_phone-iphone img {
    width: 100%;
  }
  .interoperability-block_phone-htc {
    margin: 0 0 0 20px;
  }
  .interoperability-block_phone-htc img {
    width: 100%;
  }
  .interoperability-block_phone-win {
    margin: 0 0 0 20px;
  }
  .interoperability-block_phone-win img {
    width: 100%;
  }
  .interoperability-block_box img {
    margin-left: -10px;
  }
  .interoperability-block_box p {
    margin: 30px 20px;
  }
  .interoperability-block_on {
    display: block;
  }
  .interoperability-block_off {
    display: none;
  }
  /* Блок с видео */
  .video {
    background-size: auto 100%;
  }
  .video-block {
    margin: 30px 0;
  }
  .video-block_title h2 {
    font-size: 24px;
  }
  .video-block_text p {
    font-size: 18px;
  }
  /* Блок с приложениями */
  .apps-block_content-img .apps-img_zombie {
    width: 100%;
    margin: 0;
  }
  /* Блок с отзывами */
  .feedback-media {
    max-width: 730px;
    margin: 5px 0;
  }
  .feedback-media_on {
    display: none;
  }
  /* Footer */
  .footer {
    text-align: center;
  }
  .footer-header_title h5 {
    margin: 10px 0;
  }
  .footer-header_phone a {
    text-align: center;
  }
  .footer-header_phone .header-call {
    display: none;
  }
  .footer-header_phone .header-call-on {
    display: block;
    font-size: 20px;
    margin: 40px 0;
  }
  .header-phone {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  /* Header */
  /* Информационное меню */
  .main {
    /* Контент меню */
  }
  .main-header_title {
    position: absolute;
    right: 0;
  }
  .main-header_title h5 {
    text-align: left;
    width: 210px;
  }
  .main-header_phone {
    margin-top: 10px;
  }
  .main-content_title-box {
    margin: 60px 0 10px;
  }
  .main-content_title-box img {
    width: 180px;
  }
  .main-content_title-rex {
    right: -60px;
  }
  .main-content_title-rex img {
    width: 230px;
  }
  .main .header-phone {
    font-size: 17px;
  }
  /* Блок с комплектацией */
  .equipment-title p {
    font-size: 11px;
    margin: 0;
  }
  .equipment-title_box p {
    font-size: 14px;
  }
  .equipment-title_box span {
    font-size: 9px;
    width: 95px;
  }
  .equipment-blocks p {
    margin: 15px 0 5px;
  }
  .equipment-blocks p span {
    font-size: 15px;
  }
  .equipment-blocks span {
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
  .equipment-blocks strong {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
  .equipment-blocks_text p {
    padding: 0;
    margin: 0 0 0 7px;
    font-size: 13px;
  }
  .equipment-btn {
    text-align: center;
    font-size: 10px;
    padding: 15px 15px;
  }
  /* Блок с возможностями */
  .opportunities-block_films {
    margin: 0;
  }
  .opportunities-block_films-info li {
    font-size: 14px;
    margin-top: 15px;
  }
  .opportunities-block_films-info p {
    font-size: 12px;
  }
  .opportunities-block_travel {
    margin: 0;
  }
  .opportunities-block_travel-info li {
    font-size: 14px;
    margin-top: 15px;
  }
  .opportunities-block_travel-info p {
    font-size: 12px;
  }
  /* Блок заказать */
  .delivery {
    background: url(../img/delivery/delivery-mini-bg.jpg) no-repeat center;
    background-size: cover;
  }
  .delivery-block {
    margin: 20px 0;
  }
  .delivery-block_title-bag {
    margin-left: 30px;
  }
  .delivery-block_title li {
    font-size: 12px;
    padding-left: 30px;
  }
  .delivery-block_title li br {
    display: none;
  }
  .delivery-block_title li::before {
    width: 23px;
    height: 28px;
  }
  .delivery-block_title h2 {
    margin-left: 15px;
    font-size: 22px;
  }
  .delivery-block_title-arrow {
    margin: 10px 30px 15px 0;
    padding: 5px 15px;
    font-size: 12px;
  }
  .delivery-block_title-arrow::after {
    border-left: 15px solid #18a7d0;
    right: -15px;
  }
  .delivery .delivery-block form {
    padding: 15px 30px;
  }
  .delivery .delivery-block form h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
  }
  .delivery .delivery-block form input {
    width: 100%;
    padding: 12px 18px;
    font-size: 11px;
  }
  .delivery .delivery-block form .form-btn {
    width: 100%;
    font-size: 14px;
  }
  .delivery .delivery-block form input::-webkit-input-placeholder {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .delivery .delivery-block form input:-ms-input-placeholder {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .delivery .delivery-block form input::-ms-input-placeholder {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .delivery .delivery-block form input::placeholder {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .delivery .delivery-block form small {
    font-size: 12px;
  }
  /* Блок с работой девайса */
  .works-blocks p {
    font-size: 11px;
  }
  /* Блок с совместимостью */
  .interoperability-block_title h2 {
    font-size: 22px;
    margin: 30px 0;
  }
  .interoperability-block_box p {
    font-size: 14px;
    margin: 15px 10px 35px;
  }
  .interoperability-block_phone p {
    font-size: 16px;
    margin-top: 7px;
  }
  /* Блок с видео */
  .video {
    background: url(../img/video/video-bg.jpg) no-repeat center;
    background-size: cover;
  }
  .video-block_title {
    margin: 0 0 7px;
  }
  .video-block_title h2 {
    font-size: 19px;
  }
  .video-block_button button {
    padding: 10px 8px 10px 12px;
  }
  .video-block_button button img {
    width: 25px;
  }
  .video-block_text p {
    font-size: 14px;
  }
  .parallax-mirror {
    display: none;
  }
  /* Модальное окно (видео) */
  .popup-video_content iframe {
    top: 20%;
    height: 0;
    width: 80%;
    height: 80%;
  }
  .popup-video_close {
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    margin-left: 35%;
    margin-top: -17%;
  }
  /* Блок с приложениями */
  .apps-block {
    margin: 40px 0;
  }
  .apps-block_title h2 {
    font-size: 22px;
  }
  .apps-block_content-img {
    margin-top: 0px;
    margin-left: 0;
  }
  .apps-block_content-text h4 {
    font-size: 15px;
    margin: 0 0 5px;
  }
  .apps-block_content-text p {
    font-size: 12px;
    margin: 0;
  }
  .apps-block_btn {
    margin-top: 25px;
    font-size: 14px;
  }
  /* Блок с отзывами */
  .feedback-block {
    margin: 40px 0;
  }
  .feedback-block_title h2 {
    font-size: 22px;
  }
  .feedback-block_title span {
    margin-bottom: 20px;
  }
  .feedback-media_left {
    padding: 20px 15px 15px 25px;
  }
  .feedback-media_left img {
    width: 60px;
  }
  .feedback-media p {
    line-height: 1.2;
    font-size: 12px;
    padding: 0 20px 20px;
  }
  .feedback-media_body h4 {
    top: -10px;
    font-size: 14px;
  }
  /* Блок как мы работаем */
  .OurWorks-block {
    margin: 40px 0;
  }
  .OurWorks-block_title h2 {
    font-size: 25px;
  }
  .OurWorks-block_title span {
    margin-bottom: 20px;
  }
  .OurWorks-block_content-img {
    line-height: 90px;
  }
  .OurWorks-block_content-img img {
    width: 80px;
  }
  .OurWorks-block_content p {
    font-size: 12px;
    width: 190px;
    margin: 10px auto;
  }
  .OurWorks-block_content p span {
    display: inline;
  }
  .OurWorks-block_content .OurWorks-block_content-package {
    width: 60px;
  }
  /* Блок со связью */
  .link-block {
    margin: 30px 0;
  }
  .link-block h2 {
    font-size: 22px;
  }
  .link-block button {
    font-size: 14px;
  }
  /* Footer */
  .footer-header_logo img {
    margin-top: 25px;
    width: 60px;
  }
  .footer-header_title h5 {
    text-align: left;
    margin-top: 30px;
    font-size: 12px;
  }
  /* Модальные окна */
  .popup-equipment .popup-equipment_content form .select-ed {
    width: 217px;
  }
  .popup-equipment_content form .select-options {
    width: 247px;
  }
  .popup form {
    padding: 5px 28px;
  }
  .popup form input {
    width: 100%;
  }
  .popup form .popup-btn {
    width: 100%;
  }
}
@media (max-width: 375px) {
  /* Блок с приложениями */
  .apps-block_content-img {
    margin-top: -40px;
  }
  /* Модальные окна */
  .popup-call_content,
  .popup-box_content,
  .popup-link_content,
  .popup-equipment_content {
    width: 80%;
  }
  .popup-call_content form,
  .popup-box_content form,
  .popup-link_content form,
  .popup-equipment_content form {
    padding: ;
  }
  .popup-call_content form h3,
  .popup-box_content form h3,
  .popup-link_content form h3,
  .popup-equipment_content form h3 {
    font-size: 14px;
    margin: 10px 20px;
    line-height: 1.4;
  }
  .popup-call_content form input,
  .popup-box_content form input,
  .popup-link_content form input,
  .popup-equipment_content form input {
    min-width: auto;
    padding: 10px 20px;
    font-size: 12px;
  }
  .popup-call_content form input::-webkit-input-placeholder,
  .popup-box_content form input::-webkit-input-placeholder,
  .popup-link_content form input::-webkit-input-placeholder,
  .popup-equipment_content form input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .popup-call_content form input:-ms-input-placeholder,
  .popup-box_content form input:-ms-input-placeholder,
  .popup-link_content form input:-ms-input-placeholder,
  .popup-equipment_content form input:-ms-input-placeholder {
    font-size: 12px;
  }
  .popup-call_content form input::-ms-input-placeholder,
  .popup-box_content form input::-ms-input-placeholder,
  .popup-link_content form input::-ms-input-placeholder,
  .popup-equipment_content form input::-ms-input-placeholder {
    font-size: 12px;
  }
  .popup-call_content form input::placeholder,
  .popup-box_content form input::placeholder,
  .popup-link_content form input::placeholder,
  .popup-equipment_content form input::placeholder {
    font-size: 12px;
  }
  .popup-call_content form button,
  .popup-box_content form button,
  .popup-link_content form button,
  .popup-equipment_content form button {
    font-size: 12px;
  }
  .popup-call_content form small,
  .popup-box_content form small,
  .popup-link_content form small,
  .popup-equipment_content form small {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .popup-call_content form .select select,
  .popup-box_content form .select select,
  .popup-link_content form .select select,
  .popup-equipment_content form .select select {
    max-width: 190px;
    font-size: 12px;
    padding: 10px 15px;
  }
  .popup-call_close::before,
  .popup-box_close::before,
  .popup-link_close::before,
  .popup-equipment_close::before,
  .popup-call_close::after,
  .popup-box_close::after,
  .popup-link_close::after,
  .popup-equipment_close::after {
    content: '';
    position: absolute;
    top: 4.5px;
    right: 9.5px;
    height: 13px;
    width: 4px;
    background: #18a7d0;
  }
}
/* Спасибо! */
.thanks {
  background: url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #020D0D;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}
.thanks img {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thanks .thanks__you {
  position: relative;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.thanks .thanks__you h2 {
  font-family: 'HelveticaNeueCyr_black', sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}
.thanks .thanks__you .thanks-btn {
  display: inline-block;
  margin: auto;
  font-size: 14px;
}
@media (max-width: 767px) {
  .thanks .thanks__you h2 {
    font-size: 33px;
  }
}
@media (max-width: 425px) {
  .thanks .thanks__you h2 {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  .thanks .thanks__you h2 {
    font-size: 24px;
  }
}
